name: CIMIT Stub Build & Push
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - di-ipv-cimit-stub/**
      - di-ipv-cimit-stub-ts/**
      - .github/workflows/cimit-stub.yml

jobs:
  buildAndPush:
    name: Build and push
    runs-on: ubuntu-latest
    timeout-minutes: 15
    env:
      AWS_REGION: eu-west-2
    permissions:
      id-token: write
      contents: read
      packages: read
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: '0'
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'corretto'
          cache: gradle

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@f29f5a9d7b09a7c6b29859002d29d24e1674c884 # v5.0.1
        with:
          gradle-version: "8.13"

      - name: Set up AWS creds
        uses: aws-actions/configure-aws-credentials@v5.1.1
        with:
          role-to-assume: ${{ secrets.CIMIT_STUB_GH_ACTIONS_ROLE_ARN }}
          aws-region: eu-west-2

      - name: Set up SAM cli
        uses: aws-actions/setup-sam@v2

      - name: Set up esbuild
        run: curl -fsSL https://esbuild.github.io/dl/latest | sh

      - name: add esbuild to path
        run: echo "${GITHUB_WORKSPACE}" >> $GITHUB_PATH

      - name: check esbuild works
        run: esbuild --version

      - name: Setup .npmrc
        working-directory: ./di-ipv-cimit-stub-ts/lambdas
        run: |
          cp .npmrc.template .npmrc && \
          sed -i s/TOKEN_WITH_READ_PACKAGE_PERMISSION/${{ secrets.GITHUB_TOKEN }}/ .npmrc

      - name: npm install
        working-directory: ./di-ipv-cimit-stub-ts/lambdas
        run: npm ci

      - name: check for tsc compile errors
        working-directory: ./di-ipv-cimit-stub-ts/lambdas
        run: npm run build

      - name: npm test
        working-directory: ./di-ipv-cimit-stub-ts/lambdas
        run: npm run test

      - name: SAM Validate
        working-directory: ./di-ipv-cimit-stub/deploy
        run: sam validate --region ${{ env.AWS_REGION }}

      - name: SAM build and test
        working-directory: ./di-ipv-cimit-stub/deploy
        run: sam build

      - name: Deploy SAM app
        uses: govuk-one-login/devplatform-upload-action@v3.9
        with:
          artifact-bucket-name: ${{ secrets.CIMIT_STUB_ARTIFACT_BUCKET_NAME }}
          signing-profile-name: ${{ secrets.SIGNING_PROFILE_NAME }}
          working-directory: ./di-ipv-cimit-stub/deploy
          template-file: .aws-sam/build/template.yaml