name: Deploy Credential Issuer Stub code to instances that need updating

on:
  push:
    branches:
      - main
    paths:
      - di-ipv-credential-issuer-stub/**
      - .github/workflows/test-java-project.yml

jobs:
  test-cri-stub:
    uses: ./.github/workflows/test-java-project.yml
    with:
      folder: 'di-ipv-credential-issuer-stub'

  decide-stubs-to-deploy:
    runs-on: ubuntu-latest
    outputs:
      deploy-all-stubs: ${{ steps.get-shared-changed-files.outputs.any_changed }}
      deploy-address-stub: ${{ steps.get-address-changed-files.outputs.any_changed }}
      deploy-bav-stub: ${{ steps.get-bav-changed-files.outputs.any_changed }}
      deploy-ci-stub: ${{ steps.get-ci-changed-files.outputs.any_changed }}
      deploy-dcmaw-stub: ${{ steps.get-dcmaw-changed-files.outputs.any_changed }}
      deploy-dl-stub: ${{ steps.get-dl-changed-files.outputs.any_changed }}
      deploy-dwp-kbv-stub: ${{ steps.get-dwp-kbv-changed-files.outputs.any_changed }}
      deploy-experian-kbv-stub: ${{ steps.get-experian-kbv-changed-files.outputs.any_changed }}
      deploy-f2f-stub: ${{ steps.get-f2f-changed-files.outputs.any_changed }}
      deploy-fraud-stub: ${{ steps.get-fraud-changed-files.outputs.any_changed }}
      deploy-nino-stub: ${{ steps.get-nino-changed-files.outputs.any_changed }}
      deploy-passport-stub: ${{ steps.get-passport-changed-files.outputs.any_changed }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Get branch name
        id: branch-name
        uses: tj-actions/branch-names@5250492686b253f06fa55861556d1027b067aeb5 # v9.0.2

      - uses: nrwl/nx-set-shas@3e9ad7370203c1e93d109be57f3b72eb0eb511b1 # v4.4.0
        id: last_successful_commit_push_on_main
        with:
          main-branch-name: ${{ steps.branch-name.outputs.default_branch }}

      - name: Get changed shared files
        id: get-shared-changed-files
        uses: tj-actions/changed-files@7dee1b0c1557f278e5c7dc244927139d78c0e22a # v47.0.4
        with:
          files: |
            di-ipv-credential-issuer-stub/gradle/**
            di-ipv-credential-issuer-stub/src/**
            di-ipv-credential-issuer-stub/*
          base_sha: ${{ steps.last_successful_commit_push_on_main.outputs.base }}

      - name: Get changed address files
        id: get-address-changed-files
        uses: tj-actions/changed-files@7dee1b0c1557f278e5c7dc244927139d78c0e22a # v47.0.4
        with:
          files: |
            di-ipv-credential-issuer-stub/deploy/address/**
          base_sha: ${{ steps.last_successful_commit_push_on_main.outputs.base }}

      - name: Get changed bav files
        id: get-bav-changed-files
        uses: tj-actions/changed-files@7dee1b0c1557f278e5c7dc244927139d78c0e22a # v47.0.4
        with:
          files: |
            di-ipv-credential-issuer-stub/deploy/bav/**
          base_sha: ${{ steps.last_successful_commit_push_on_main.outputs.base }}

      - name: Get changed CI files
        id: get-ci-changed-files
        uses: tj-actions/changed-files@7dee1b0c1557f278e5c7dc244927139d78c0e22a # v47.0.4
        with:
          files: |
            di-ipv-credential-issuer-stub/deploy/claimed-identity/**
          base_sha: ${{ steps.last_successful_commit_push_on_main.outputs.base }}

      - name: Get changed dcmaw files
        id: get-dcmaw-changed-files
        uses: tj-actions/changed-files@7dee1b0c1557f278e5c7dc244927139d78c0e22a # v47.0.4
        with:
          files: |
            di-ipv-credential-issuer-stub/deploy/dcmaw/**
          base_sha: ${{ steps.last_successful_commit_push_on_main.outputs.base }}

      - name: Get changed driving licence files
        id: get-dl-changed-files
        uses: tj-actions/changed-files@7dee1b0c1557f278e5c7dc244927139d78c0e22a # v47.0.4
        with:
          files: |
            di-ipv-credential-issuer-stub/deploy/driving-licence/**
          base_sha: ${{ steps.last_successful_commit_push_on_main.outputs.base }}

      - name: Get changed DWP KBV files
        id: get-dwp-kbv-changed-files
        uses: tj-actions/changed-files@7dee1b0c1557f278e5c7dc244927139d78c0e22a # v47.0.4
        with:
          files: |
            di-ipv-credential-issuer-stub/deploy/dwp-kbv/**
          base_sha: ${{ steps.last_successful_commit_push_on_main.outputs.base }}

      - name: Get changed Experian KBV files
        id: get-experian-kbv-changed-files
        uses: tj-actions/changed-files@7dee1b0c1557f278e5c7dc244927139d78c0e22a # v47.0.4
        with:
          files: |
            di-ipv-credential-issuer-stub/deploy/experian-kbv/**
          base_sha: ${{ steps.last_successful_commit_push_on_main.outputs.base }}

      - name: Get changed F2F files
        id: get-f2f-changed-files
        uses: tj-actions/changed-files@7dee1b0c1557f278e5c7dc244927139d78c0e22a # v47.0.4
        with:
          files: |
            di-ipv-credential-issuer-stub/deploy/face-to-face/**
          base_sha: ${{ steps.last_successful_commit_push_on_main.outputs.base }}

      - name: Get changed fraud files
        id: get-fraud-changed-files
        uses: tj-actions/changed-files@7dee1b0c1557f278e5c7dc244927139d78c0e22a # v47.0.4
        with:
          files: |
            di-ipv-credential-issuer-stub/deploy/fraud/**
          base_sha: ${{ steps.last_successful_commit_push_on_main.outputs.base }}

      - name: Get changed nino files
        id: get-nino-changed-files
        uses: tj-actions/changed-files@7dee1b0c1557f278e5c7dc244927139d78c0e22a # v47.0.4
        with:
          files: |
            di-ipv-credential-issuer-stub/deploy/nino/**
          base_sha: ${{ steps.last_successful_commit_push_on_main.outputs.base }}

      - name: Get changed passport files
        id: get-passport-changed-files
        uses: tj-actions/changed-files@7dee1b0c1557f278e5c7dc244927139d78c0e22a # v47.0.4
        with:
          files: |
            di-ipv-credential-issuer-stub/deploy/passport/**
          base_sha: ${{ steps.last_successful_commit_push_on_main.outputs.base }}

  deploy-address-stub:
    needs:
      - test-cri-stub
      - decide-stubs-to-deploy
    if: |
      needs.test-cri-stub.result == 'success' &&
      (needs.decide-stubs-to-deploy.outputs.deploy-address-stub == 'true' || needs.decide-stubs-to-deploy.outputs.deploy-all-stubs == 'true')
    uses: ./.github/workflows/cri-address-stub.yml

  deploy-bav-stub:
    needs:
      - test-cri-stub
      - decide-stubs-to-deploy
    if: |
      needs.test-cri-stub.result == 'success' &&
      (needs.decide-stubs-to-deploy.outputs.deploy-bav-stub == 'true' || needs.decide-stubs-to-deploy.outputs.deploy-all-stubs == 'true')
    uses: ./.github/workflows/cri-bav-stub.yml

  deploy-ci-stub:
    needs:
      - test-cri-stub
      - decide-stubs-to-deploy
    if: |
      needs.test-cri-stub.result == 'success' &&
      (needs.decide-stubs-to-deploy.outputs.deploy-ci-stub == 'true' || needs.decide-stubs-to-deploy.outputs.deploy-all-stubs == 'true')
    uses: ./.github/workflows/cri-claimed-identity-stub.yml

  deploy-dcmaw-stub:
    needs:
      - test-cri-stub
      - decide-stubs-to-deploy
    if: |
      needs.test-cri-stub.result == 'success' &&
      (needs.decide-stubs-to-deploy.outputs.deploy-dcmaw-stub == 'true' || needs.decide-stubs-to-deploy.outputs.deploy-all-stubs == 'true')
    uses: ./.github/workflows/cri-dcmaw-stub.yml

  deploy-dl-stub:
    needs:
      - test-cri-stub
      - decide-stubs-to-deploy
    if: |
      needs.test-cri-stub.result == 'success' &&
      (needs.decide-stubs-to-deploy.outputs.deploy-dl-stub == 'true' || needs.decide-stubs-to-deploy.outputs.deploy-all-stubs == 'true')
    uses: ./.github/workflows/cri-driving-licence-stub.yml

  deploy-dwp-kbv-stub:
    needs:
      - test-cri-stub
      - decide-stubs-to-deploy
    if: |
      needs.test-cri-stub.result == 'success' &&
      (needs.decide-stubs-to-deploy.outputs.deploy-dwp-kbv-stub == 'true' || needs.decide-stubs-to-deploy.outputs.deploy-all-stubs == 'true')
    uses: ./.github/workflows/cri-dwp-kbv-stub.yml

  deploy-experian-kbv-stub:
    needs:
      - test-cri-stub
      - decide-stubs-to-deploy
    if: |
      needs.test-cri-stub.result == 'success' &&
      (needs.decide-stubs-to-deploy.outputs.deploy-experian-kbv-stub == 'true' || needs.decide-stubs-to-deploy.outputs.deploy-all-stubs == 'true')
    uses: ./.github/workflows/cri-experian-kbv-stub.yml

  deploy-f2f-stub:
    needs:
      - test-cri-stub
      - decide-stubs-to-deploy
    if: |
      needs.test-cri-stub.result == 'success' &&
      (needs.decide-stubs-to-deploy.outputs.deploy-f2f-stub == 'true' || needs.decide-stubs-to-deploy.outputs.deploy-all-stubs == 'true')
    uses: ./.github/workflows/cri-f2f-stub.yml

  deploy-fraud-stub:
    needs:
      - test-cri-stub
      - decide-stubs-to-deploy
    if: |
      needs.test-cri-stub.result == 'success' &&
      (needs.decide-stubs-to-deploy.outputs.deploy-fraud-stub == 'true' || needs.decide-stubs-to-deploy.outputs.deploy-all-stubs == 'true')
    uses: ./.github/workflows/cri-fraud-stub.yml

  deploy-nino-stub:
    needs:
      - test-cri-stub
      - decide-stubs-to-deploy
    if: |
      needs.test-cri-stub.result == 'success' &&
      (needs.decide-stubs-to-deploy.outputs.deploy-nino-stub == 'true' || needs.decide-stubs-to-deploy.outputs.deploy-all-stubs == 'true')
    uses: ./.github/workflows/cri-nino-stub.yml

  deploy-passport-stub:
    needs:
      - test-cri-stub
      - decide-stubs-to-deploy
    if: |
      needs.test-cri-stub.result == 'success' &&
      (needs.decide-stubs-to-deploy.outputs.deploy-passport-stub == 'true' || needs.decide-stubs-to-deploy.outputs.deploy-all-stubs == 'true')
    uses: ./.github/workflows/cri-passport-stub.yml
